<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.com.pilae.pilae">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.TablaPosicionesActivity"></activity>
        <activity android:name=".view.PartidoActivity" />
        <activity android:name=".view.TorneoViewActivity" />
        <activity android:name=".view.EdicionTorneoActivity" />
        <activity android:name=".view.EdicionEquipoActivity" />
        <activity android:name=".view.RegistroTorneoActivity" />
        <activity android:name=".view.RegistroEquipoActivity" />
        <activity android:name=".view.EquipoViewActivity" />
        <activity android:name=".view.TorneoActivity" />
        <activity android:name=".view.EquipoActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>